MODEL=gpt-4
OPENAI_API_KEY=my_openai_api_key
OPENAI_BASE_URL=my_openai_base_url

FOREM_API_KEY=your_api_key
FOREM_API_BASE_URL=https://dev.to/api/articles
FOREM_TAGS=ai,llm,tech,vietnamese
FOREM_AUTO_PUBLISH_DRAFT=true